.booking-title {
  color: $primary;
  font-family: 'Rubik', sans-serif;
}

.booking-toothbrush {
  width: 380px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.bookings-content {
  padding: 15px;
  color: $primary;
}

.booking-indv-content {
  margin-bottom: 10px;
}


