<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <span class="image one" />
      <h1>Brush on the Go</h1>
    </div>
    <div class="carousel-item">
      <span class="image two" />
      <h1>Brush on the Go</h1>
    </div>
    <div class="carousel-item">
      <span class="image three" />
      <h1>Brush on the Go</h1>
    </div>
  </div>

