.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.dropdown img {
  width: 60px;
  height: 60px;
}

.navbar-container {
  width: 100vw;
}

#space-for-navbar {
  height: 90px;
  width: 100%;

}

.navbar-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center
}

.add-product {
  font-size: 35px;
  color: black;
}

.navbar-brand {
  padding: 0;
}

.logo-div {
  width: 50px;
}

