.pscontainer {
  display: grid;
  grid-template-columns: 20% 53% 17% 10%;
  align-items: center;
  justify-content: space-between;
  margin: 12px 4px;
  box-shadow: 0 0px 4px  rgba(0, 0, 0, 0.2);

}

.pstrashcan {
  color: $danger;
  /*font-size: 9px;*/
  padding-bottom: 10px;
}

.psdates {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}


.pscard {
  padding: 2px 4px;
}

.primary-title {
  color: $primary;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.nobookings {
  font-size: 1rem;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin: 8px 25px;
  padding: 10px;
  background-color: rgba(230, 230, 230, 0.2);
  color: $danger;
}
