<div class="container">
  <div class="row">
    <%= product.title %>
  </div>
  <div class="row">
    <center><%= product.location %></center>
  </div>
  <div class="row">
    Price per day:&nbsp<%= product.price %>&nbspSEK
  </div>
</div>
