  <h7>Edit Brush Details</h7>
   <%= cl_image_tag @product.photo, height: 150, width: 150, crop: :fill, class: "toothbrush-photo"  %>
   <div class="edit_container">
    <%= render 'editform', product: @product %>
  </div>
  <b><%= link_to 'Show', @product %> |
    <%= link_to 'Back', show_my_products_path %></b>


